Source: samtools-legacy
Maintainer: Debian Med Packaging Team <debian-med-packaging@lists.alioth.debian.org>
Uploaders: Charles Plessy <plessy@debian.org>
Section: science
Priority: optional
Build-Depends: debhelper (>= 9),
               cdbs,
               quilt,
               libncurses5-dev,
               zlib1g-dev
Standards-Version: 3.9.5
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=debian-med/samtools.git
Vcs-Git: git://anonscm.debian.org/debian-med/samtools.git -b samtools-legacy
Homepage: http://samtools.sourceforge.net

Package: libbam-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: manipulates nucleotide sequence alignments in BAM or SAM format 
 The BAM library provides I/O and various operations on manipulating nucleotide
 sequence alignments in the BAM (Binary Alignment/Mapping) or SAM (Sequence
 Alignment/Map) format. It now supports importing from or exporting to SAM,
 sorting, merging, generating pileup, and quickly retrieval of reads overlapped
 with a specified region.
 .
 This library is part of SAMtools version 0.1.19.  It is obsolete and provided
 only to build software that has not yet transitioned to the HTSlib, which
 replaces this library.
